@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {font-family: 'Roboto', sans-serif;}

body {
    width: 100%;
    height: 100%;
    background-color: #104c6c;
}

#titulo {color: #FFF;}

.bloco-principal {
    display: grid;
    grid-template-areas:
        "cards cards cards cards"
        "menu-principal dashboards dashboards dashboards";
    gap: 4px;
    padding: 4px;
    background-color: #FFF;
}

.bloco-menu {
    grid-area: menu-principal;
    background-color: #2cb5ff;
}

.bloco-cards {
    grid-area: cards;
    background-color: #446c10;
}

.bloco-dashboards {
    grid-area: dashboards;
    background-color: #a12e2e;
}
